.search{
    display: flex;
    align-items: center;
    /* border: 1px solid var(--text-100); */
    border-radius: 0.5rem;
    background-color: var(--text-400);
    padding: 0 0.3rem;
    width: 100%;

    cursor: pointer;
}
.search_input{
    display: block;
    max-width: 230;
    height: 2rem;
    outline: none;
    border: none;
    background-color: unset;
}
.search_input::placeholder{
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text-100);
}
.search_icon{
    display:flex;
    align-content: center;
    font-size: 1.5rem;
    margin-right: 0.4rem;
    color: var(--text-100);
    transition: all 0.4s linear;
}
.search_icon:hover{
    color: var(--text-200);
}