.navbar{
    display: block;
    margin-top: 1rem;
    width: 100%;
    padding: 0 1rem;
}

.navbar_wrapper{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.navbar_right{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar_left{
    margin-left: 1.5rem;
}