@import url(./style/reset.css);

/* <<<< Import Font >>>> */
@font-face {
    font-family: iranBlack;
    src: url(/font/IRANSansX-Black.woff);
}
@font-face {
    font-family: iranBold;
    src: url(/font/IRANSansX-Bold.woff);
}
@font-face {
    font-family: iranMedium;
    src: url(/font/IRANSansX-Medium.woff);
}

/* <<<< :root variable  >>>> */
:root{
    --medium : iranMedium;
    --bold: iranBold;
    --black: iranBlack;

    --bgColor: #F8F9FA;
    --primary: #FFFFFF;
    --secondary: #218EFE;
    --success: #17C1E8;
    --text-100: #344767;
    --text-200: #67748E;
    --text-300: #78839A;
    --text-400: #E9ECEF;
    --red: #F05353;
    --green: #82D616;
}
/* <<<< body >>>> */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--medium);
    font-size: 1rem;
    background-color: var(--bgColor) !important;
    overflow-x: hidden;
}
/* <<<< container >>>> */
.container{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
/* <<<< Grid app >>>> */
.flex{
    display: flex;
    align-items: center;
}
.wrapper_right{
    flex-basis: 15%;
}
.wrapper_left{
    flex-basis: 85%;
    margin-right: 1.5rem;
}
/* <<<< custom styles >>>> */
/* <<<<  >>>> */
/* <<<<  >>>> */